body{
    background-color:rgb(78, 97, 126)
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .mybio {
    margin: 10%;

    column-count: 2;
    font-size: 40px;
    color:rgb(222, 226, 238);
    text-shadow: 2px 2px 5px rgb(81, 112, 196);
  }
  
a, a:visited{
    color: rgb(10, 28, 83);
  }
  
  a:hover{
    color:rgb(101, 139, 196);
  }
  
  .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(197, 197, 212);
  }
  
  .li {
    float: right;
  }
  
  li a {
    display: block;
    color: rgb(58, 48, 119);
    text-align: right;
    padding: 40px 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    font-family: fantasy;
  }

.head {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    color: rgb(33, 26, 90);
    font-family: fantasy;
    background-color: rgb(154, 167, 241);
}

.contain {
    background-image: hr;
}